/* red #ba284c  rgba(170,24,60,1) */
/* #8A1E38 rgba(138,20,56,1)*/
/* gold #f9aa77 rgba(249,170,119,1)*/
/* #F9CEB0 rgba(249,206,176,1)*/

@font-face {
    font-family: 'kabel';
    src: url('../font/kabel.otf') format('truetype');
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-size: 100%;
    font-family: Tisa, Dosis, Lato, Helvetica;
    font-weight: lighter;
}

main {
}

footer {

}

main .w3-content, footer .w3-content, main .w3-panel, footer .w3-panel{
    border-radius: 4px;
    box-shadow:  2px 2px 1px rgba(249, 170, 119, 0.2);
    /*box-shadow:  1px 1px 1px rgba(120,10,10,0.5);*/
    margin-top: 10px;
    border-top : 1px solid #f9aa77;
    border-left : 1px solid #f9aa77;
    /*background-color: rgba(249,206,176,1);*/
    background-image: linear-gradient(0.25turn, rgba(249,206,176,1), rgba(249,206,176,0.8));
    color: rgba(138,20,56,1);
    /*width: 600px;*/


}


#content {
    height: 100%;
    background-size: 100%;
    background-image:
            linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0)),
            url("../img/back-SALAD.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

/*linear-gradient(rgba(9,9,9,1) 1%, rgba(255,255,255,0.1)),*/
    /*url("../img/back-bowl.jpg");*/
}

.parallax {


}

header {
    /*background:  */
    background-image:
        linear-gradient(rgba(234,72,108,0.5), rgba(170,24,60,0.5)),
        url("../img/motifs.png"),
        linear-gradient(rgba(234,72,108,1), rgba(170,24,60,1));
    /*background-image: linear-gradient(#ea486c, #aa183c) repeat scroll 0 0 #F88B12, url("../img/motifs.png");*/
    line-height: normal;
    text-shadow: 3px 3px #b53051;
    box-shadow:  0px 3px 1px rgba(120,10,10,1);
}

nav {
    color : #f9aa77;
    margin-top: 5px;
    border-top : 1px solid #f9aa77;
}

nav a {
    border-radius : 6px;
    font-size: larger;
}

nav a:hover {
    color : navajowhite;
    text-decoration: underline;
    text-underline: #f9aa77;
    background: #ea486c;
    transition: 0.3s;
}


#logo-title:hover {
    opacity: 0.7;
    transition: 0.4s;
}

@keyframes spin {
    65% { transform: rotate(360deg) scale(1.25);}
    70% { }
    /*60% { background-color:rgba(255,255,255,0.3); transform: rotate(360deg) scale(1.3);}*/
    75% {transform: scale(0.9);}
    90% {transform: scale(1.05);}
    100% {transform: scale(1);}
    /*100% {transform: scale(2)}*/
}

#logo {
    border-radius: 100px;
}
#logo:hover {
    animation-delay: 0.1s;
    animation-name: spin;
    animation-duration: 1s;
}


.gold {
    color : #f9aa77;
    font-family : kabel;
    font-size: xx-large;
}

.shadowed {
    filter: drop-shadow(3px 3px 0px #b53051);
}

h2 {
    color: rgba(249,170,119,1);
    /*color: rgba(249,206,176,1);*/
    background-image: linear-gradient(rgba(234,72,108,1), rgba(170,24,60,1));
    border-radius: 5px;
    margin-top: 0px;
}

h3 {
    color: rgba(170,24,60,1);
    font-weight: bold;
}
/*@keyframes shine {*/
    /*50% { color: rgba(249,170,119,1);}*/
/*}*/

/*h2:hover {*/
    /*animation-name: shine;*/
    /*animation-duration: 0.5s;*/
/*}*/